<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    
 <h1 style ="color: white">Bakers Inc. Welcome <%=customer%></h1>
<h4>You have following items with you</h4>
</div>
  
  <table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>

    <td><%=customer_data["name"]%></td>
     <td><%=customer_data["quantity"]%></td>
   
   </table>

 <a href = "/session"><button>Logout</button></a>


</body>
</html>