<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="title" align="center"> GA Bakers. Inc</p>

    <form class="user" action="/login" method = "post">
     <label for="">Admin &nbsp &nbsp &nbsp</label>
  <input type="name" name="name">
  <div><label for="">Password</label>
  <input type="password" name="password"></div>
  <button>Login</button>
    </form><br>


<form action="/customerlogin" method="post" class="user">
     <div><label for="">Customer</label>
  <input type="name" name="name"></div>
  <div><label for="">Password</label>
  <input type="password" name="password"></div>
  <button>Login</button>
    </form><br>

  <form action="/signup">
    <button style="margin-left: 130px;">Signup as Customer</button>
    </form>
                
    </div>
     
</body>